In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("suburb.csv")

In [28]:
data.head(2)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,1.056697e+06,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,154.527895,1964.636742,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1.480000e+06,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,154.527895,1964.636742,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0

In [4]:
mborn_data=pd.DataFrame(data)

In [5]:
mborn_data.shape

(23678, 21)

In [6]:
mborn_data.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [7]:
mborn_data.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23674,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
23675,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23676,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23677,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

In [8]:
mborn_data.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

In [9]:
mborn_data.isnull().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
23673    2
23674    8
23675    4
23676    1
23677    2
Length: 23678, dtype: int64

In [10]:
mborn_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [11]:
mborn_data.isnull().sum(axis=1) * 100 /len(mborn_data)

0        0.012670
1        0.008447
2        0.000000
3        0.012670
4        0.000000
           ...
23673    0.008447
23674    0.033787
23675    0.016893
23676    0.004223
23677    0.008447
Length: 23678, dtype: float64

In [12]:
mborn_data.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[23678 rows x 0 columns]

In [13]:
mborn_data.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

In [14]:
mborn_data.isnull().sum(axis=0) * 100 /len(mborn_data)

Suburb            0.553256
Address           0.553256
Rooms             0.553256
Type              0.553256
Price            22.307627
Method            0.553256
SellerG           0.553256
Date              0.553256
Distance          0.557480
Postcode          0.557480
Bedroom2         19.477996
Bathroom         19.490666
Car              20.090379
Landsize         26.471830
BuildingArea     57.690683
YearBuilt        51.262776
CouncilArea      33.879551
Lattitude        18.730467
Longtitude       18.730467
Regionname        0.557480
Propertycount     0.557480
dtype: float64

In [15]:
mborn_data.isnull().sum(axis=0) * 100 /len(mborn_data)>30

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [16]:
mborn_data.isnull().sum(axis=1)>5

0        False
1        False
2        False
3        False
4        False
         ...
23673    False
23674     True
23675    False
23676    False
23677    False
Length: 23678, dtype: bool

In [17]:
mborn_data.dropna(axis=1) > 5

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[23678 rows x 0 columns]

In [18]:
mborn_data.isnull().sum(axis=1).any()*100/len(mborn_data)>20

False

In [19]:
mborn_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [20]:
mborn_data.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

We will fill the missing values in Price column with Mean as it will help us to gain the higher accuracy because it is best for the regression models.

In [21]:
mborn_data['Price'].fillna((mborn_data['Price'].mean()),inplace=True)

In [22]:
mborn_data.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price                0
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

In [23]:
mborn_data.isnull().sum()* 100 /len(mborn_data)

Suburb            0.553256
Address           0.553256
Rooms             0.553256
Type              0.553256
Price             0.000000
Method            0.553256
SellerG           0.553256
Date              0.553256
Distance          0.557480
Postcode          0.557480
Bedroom2         19.477996
Bathroom         19.490666
Car              20.090379
Landsize         26.471830
BuildingArea     57.690683
YearBuilt        51.262776
CouncilArea      33.879551
Lattitude        18.730467
Longtitude       18.730467
Regionname        0.557480
Propertycount     0.557480
dtype: float64

In [25]:
mborn_data.isnull().sum()* 100 /len(mborn_data)

Suburb            0.553256
Address           0.553256
Rooms             0.000000
Type              0.553256
Price             0.000000
Method            0.553256
SellerG           0.553256
Date              0.553256
Distance          0.000000
Postcode          0.000000
Bedroom2          0.000000
Bathroom          0.000000
Car               0.000000
Landsize          0.000000
BuildingArea      0.000000
YearBuilt         0.000000
CouncilArea      33.879551
Lattitude         0.000000
Longtitude        0.000000
Regionname        0.557480
Propertycount     0.000000
dtype: float64

In [68]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

mborn_data['Suburb'] = (mborn_data['Suburb'].str.strip('<').astype(str))
mborn_data['Type'] = (mborn_data['Type'].str.strip('<').astype(str))
mborn_data['Method'] = (mborn_data['Method'].str.strip('<').astype(str))
mborn_data['SellerG'] = (mborn_data['SellerG'].str.strip('<').astype(str))
mborn_data['Date'] = (mborn_data['Date'].str.strip('<').astype(str))
mborn_data['CouncilArea'] = (mborn_data['CouncilArea'].str.strip('<').astype(str))
mborn_data['Regionname'] = (mborn_data['Regionname'].str.strip('<').astype(str))
mborn_data['Address'] = (mborn_data['Address'].str.strip('<').astype(str))

In [87]:
mborn_data.Suburb=le.fit_transform(mborn_data.Suburb)
mborn_data.Address=le.fit_transform(mborn_data.Address)
mborn_data.Type=le.fit_transform(mborn_data.Type)
mborn_data.Method=le.fit_transform(mborn_data.Method)
mborn_data.SellerG=le.fit_transform(mborn_data.SellerG)
mborn_data.Date=le.fit_transform(mborn_data.Date)
mborn_data.CouncilArea=le.fit_transform(mborn_data.CouncilArea)
mborn_data.Regionname=le.fit_transform(mborn_data.Regionname)

In [89]:
mborn_data['Type'].fillna((mborn_data['Type'].median()),inplace=True)

In [91]:
mborn_data['Suburb'].fillna((mborn_data['Suburb'].mean()),inplace=True)

In [93]:
mborn_data['Address'].fillna((mborn_data['Address'].mean()),inplace=True)

In [95]:
mborn_data['SellerG'].fillna((mborn_data['SellerG'].mean()),inplace=True)

In [96]:
mborn_data['Date'].fillna((mborn_data['Date'].mode()),inplace=True)

In [97]:
mborn_data['CouncilArea'].fillna((mborn_data['CouncilArea'].median()),inplace=True)

In [98]:
mborn_data['Regionname'].fillna((mborn_data['Regionname'].mode()),inplace=True)

In [100]:
mborn_data.isnull().sum()* 100 /len(mborn_data)

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     0.0
YearBuilt        0.0
CouncilArea      0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
dtype: float64

We have filled every null row and columns with the best suitable Mean,Median,Mode.
The data which we have lost is not important for us , as it can work negatively for the dataset and will effect the accuracy negatively.So, by removing the nulls and replacing them with best suitable Mean,Median,Mode will be very helpfull to gain better accuracy.